:root {
    /* Font Family */
  --font-family: "Inter", sans-serif;

  /* Font Sizes */
  --font-size-large: 2.6rem;
  --font-size-heading: 2rem;
  --font-size-subheading: 1.8rem;
  --font-size-section-heading: 1.6rem;
  --font-size-regular-large: 1.6rem;
  --font-size-regular-small: 1.4rem;
  --font-size-small: 1.2rem;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Line Heights */
  --line-height-large: 138%;
  --line-height-heading: 180%;
  --line-height-subheading: 133%;
  --line-height-section-heading: 150%;
  --line-height-regular: 150%;
  --line-height-small: 171%;
}