/* Mixin for Text Styles */
@mixin text-style($size, $weight, $line-height, $color: var(--light-100)) {
  font-family: var(--font-family);
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

/* Applying Mixins to Classes */

.large {
  @include text-style(var(--font-size-large), var(--font-weight-semi-bold), var(--line-height-large));
}

.h1 {
  @include text-style(var(--font-size-heading), var(--font-weight-bold), var(--line-height-heading));
}

.h2 {
  @include text-style(var(--font-size-subheading), var(--font-weight-bold), var(--line-height-subheading));
}

.h3 {
  @include text-style(var(--font-size-section-heading), var(--font-weight-semi-bold), var(--line-height-section-heading));
}

.regular-text-16 {
  @include text-style(var(--font-size-regular-large), var(--font-weight-regular), var(--line-height-regular));
}

.bold-text-16 {
  @include text-style(var(--font-size-regular-large), var(--font-weight-bold), var(--line-height-regular));
}

.regular-text-14 {
  @include text-style(var(--font-size-regular-small), var(--font-weight-regular), var(--line-height-small));
}

.medium-text-14 {
  @include text-style(var(--font-size-regular-small), var(--font-weight-medium), var(--line-height-small));
}

.bold-text-14 {
  @include text-style(var(--font-size-regular-small), var(--font-weight-bold), var(--line-height-small));
}

.small-text {
  @include text-style(var(--font-size-small), var(--font-weight-regular), var(--line-height-subheading));
}

.semi-bold-small-text {
  @include text-style(var(--font-size-small), var(--font-weight-semi-bold), var(--line-height-subheading));
}

.regular-link {
  @include text-style(var(--font-size-regular-small), var(--font-weight-regular), var(--line-height-small), var(--primary-500));

  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.small-link {
  @include text-style(var(--font-size-small), var(--font-weight-regular), var(--line-height-subheading), var(--primary-500));

  text-decoration: underline;
  text-decoration-skip-ink: none;
}
