.root {
  display: flex;
  flex-direction: column;
}

/* Стили для контейнера вкладок */
.list {
  display: flex;
  flex-shrink: 0;
  width: 100%; /* Позволяем списку занимать всю ширину родителя */
}

.trigger {
  all: unset;

  cursor: pointer;

  box-sizing: border-box; /* Границы включены в размеры элемента */
  border: 2px solid transparent; /* Прозрачные границы по умолчанию */

  transition: 0.2s; /* Плавные переходы */

  &.secondary {
    position: relative; /* Для позиционирования псевдоэлемента */

    min-width: 85px;
    padding: 6px 24px;

    /* H3 */
    font-size: 16px;
    font-weight: 600;
    color: rgb(76 76 76);

    &::after {
      content: '';

      position: absolute;
      z-index: 1; /* Псевдоэлемент выше родителя */
      right: 0;
      bottom: 0; /* Позиция выше нижней границы кнопки */
      left: 0;

      width: 100%;
      height: 2px;

      background-color: rgb(76 76 76); /* Цвет линии */
    }

    &.full-width {
      flex-grow: 1;
    }

    /* Эффект наведения */
    &:hover {
      background-color: rgb(35 78 153);
    }

    /* Эффект при фокусе */
    &:focus {
      border: 2px solid rgb(47 104 204);
      border-radius: 2px;
      background-color: transparent;
      outline: none; /* Убираем стандартное обводка фокуса */
    }

    /* Эффект при удерживании кнопки */
    &:active,
    &:focus:active {
      background-color: rgb(115 165 255);
    }

    /* Эффект при отключенной кнопке */
    &[data-disabled] {
      cursor: not-allowed; /* Изменение курсора на "недоступно" */
      border: 2px solid transparent !important; /* Прозрачные границы */
      color: rgb(51 51 51);
      background-color: transparent;

      &::after {
        background-color: rgb(51 51 51);
      }
    }

    // Стили для выбранной вкладки secondary
    &[data-state="active"] {
      border: 2px solid rgb(47 104 204);
      border-radius: 2px;
      color: rgb(76 76 76);
      background-color: transparent;

      &::after {
        background-color: rgb(76 76 76);
      }
    }
  }

  &.primary {
    position: relative; /* Для позиционирования псевдоэлемента */

    min-width: 85px;
    padding: 6px 24px;

    /* H3 */
    font-size: 16px;
    font-weight: 600;
    color: #397DF6; /* Основной цвет текста */

    &::after {
      content: '';

      position: absolute;
      z-index: 1; /* Псевдоэлемент выше родителя */
      right: 0;
      bottom: 0; /* Позиция выше нижней границы кнопки */
      left: 0;

      width: 100%;
      height: 2px;

      background-color: #397DF6;
    }

    &.full-width {
      flex-grow: 1;
    }

    /* Эффект наведения */
    &:hover {
      background-color: #234E99;
    }

    /* Эффект при фокусе */
    &:focus {
      border: 2px solid #2F68CC;
      border-radius: 2px;
      background-color: transparent;
      outline: none; /* Убираем стандартное обводка фокуса */
    }

    /* Эффект при удерживании кнопки */
    &:active,
    &:focus:active {
      background-color: #73A5FF;
    }

    /* Эффект при отключенной кнопке */
    &[data-disabled] {
      cursor: not-allowed;
      border: 2px solid transparent !important; /* Прозрачные границы */
      color: #234E99;
      background-color: transparent;

      &::after {
        background-color: #234E99;
      }
    }

    // Стили для выбранной вкладки primary
    &[data-state="active"] {
      border: 2px solid #2F68CC;
      border-radius: 2px;
      color: #397DF6;
      background-color: transparent;

      &::after {
        background-color: #397DF6;
      }
    }
  }
}

.content {
  color: inherit;
}

